*.pyc
*.cfg
plotting/FakeRate/
plotting/FakeRate_phiEta_tolerance01mm_phi2GeV/
plotting/FakeRate_phiEta_tolerance01mm_phi2GeV_curvature0005/
plotting/FakeRate_phiEta_tolerance01mm_phi2GeV_curvature001/
plotting/FakeRate_phiEta_tolerance05mm_phi2GeV_curvature0005/
plotting/FakeRate_phiEta_tolerance05mm_phi2GeV_curvature0005_nVertexSigma5/
plotting/FakeRate_phiEta_tolerance1mm_phi2GeV/
plotting/FakeRate_tolerance01mm_phi1GeV/
plotting/FakeRate_tolerance05mm_phi2GeV_multiCurvature_nVertexSigma5/
plotting/FakeRate_tolerance1mm_phi2GeV/
plotting/kappaOptimisation/
plotting/processedTracks/
plotting/processedTracks_BDT07_both/
plotting/processedTracks_kappa_deltaPhi/
plotting/processedTracks_kappa_deltaPhi_zresiduum/
plotting/processedTracks_kappa_deltaPhi_zresiduum_BDT/
plotting/processedTracks_kappa_deltaPhi_zresiduum_BDT07_specific/
plotting/processedTracks_kappa_deltaPhi_zresiduum_BDT_specific/
